#php
alias art='php artisan'
alias serve='php artisan serve'
alias tinker='php artisan tinker'
alias fresh='php artisan migrate:fresh --seed'

alias pu='phpunit'
alias puf='phpunit --filter '
alias cdp='composer dumpautoload'
alias deploy='envoy run deploy'

#git

alias gst='git status'
alias gc='git commit -m'
alias gca='git commit -am'
alias pull='git pull'
alias gpl='git pull'
alias gp='git push'
alias gpf='git push --force'
alias gpsu="git push --set-upstream origin $(git branch | grep \* | cut -d ' ' -f2)"
alias gl='git log'
alias glo='git log --oneline'
alias ga='git add'
alias gaa='git add .'
alias gap='git add -p'
alias gd='git diff'
alias gb='git branch'
alias gco='git checkout'
alias gcom='git checkout master'
alias gm='git merge'
alias gmf='git merge --ff-only'
alias gmm='git merge master'
alias grm='git rebase master'
alias grom='git rebase origin/master'
alias grc='git rebase --continue'

alias nah="git reset --hard; git clean -df;"
alias amend="git commit --amend"

#general

alias aliases='vim ~/.aliases'
alias dc='docker-compose'

alias report='code ~/Documents/Donatix/monday_reports.md'

alias meet='echo "https://meet.google.com/kue-yvmr-khs" | pbcopy && open -a "Google Chrome" https://meet.google.com/kue-yvmr-khs'
alias daily='open -a "Google Chrome" https://meet.google.com/cuc-ptzz-bcm'
